.aligner {
  display: flex;
  align-items: center;
  justify-content: center;

  // height is needed for IE10-11 for this bug
  // http://bit.ly/16b1Xhx
  height: 24em;
  // other browsers use min-height
  @supports not (-ms-flex: 1) {
    height: auto;
    min-height: 24em;
  }
}

.aligner-item {
  max-width: 50%;
}

.aligner-item-top {
  align-self: flex-start;
}

.aligner-item-bottom {
  align-self: flex-end;
}
