form.custom {

  input {
    transition: background-color ease-in-out 200ms, border-color ease-in-out 200ms;
    border-radius: 0;
    font-size: 13px;
    color: #333;
    box-shadow: none;
    height: 50px;
    border-left: 2px solid transparent;
    padding: 0 20px;

    &:focus {
      background-color: #f2f2f2;
      box-shadow: none;
    }
  }

  span {
    display: block;
  }

  .control-label {
    padding: 7px 0 3px 0;
  }

  [class*='ng-'], .error {
    transition: border-color ease-in-out 200ms;
  }

  .ng-dirty {
    border-left: 2px solid #e85a5a;
  }

  .ng-valid {
    border-left: 2px solid green;
  }

  .error, .errorMessage {
    color: #E85A5A;
    font-size: 12px;
    padding-left: 19px;
  }

  .errorMessage {
    padding: 0;
    margin: 10px 0;
  }
}
