@import "states";

html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #F1F3F5;
  overflow: scroll;
  color: rgba(0, 0, 0, 0.75);
  @extend .clearfix;

  > header {
    position: relative;
    padding-bottom: 50px;
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;

    > .background {
      height: 100%;
      width: 400%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -99999;
    }
    .background.no-auth {
      background: #00396F;
      background-image: radial-gradient(closest-corner,rgba(16, 47, 70, 0) 60%,rgba(16, 47, 70, 0.2)), linear-gradient(342deg,#E5E9BF 10%,#00396F 90%);
      background-position: 0px 0px;
      background-repeat: repeat-x;
      animation: background-change 5s infinite;
    }
    .background.auth {
      background: #530343;
      background-image:  radial-gradient(closest-corner,rgba(16, 47, 70, 0) 60%,rgba(16, 47, 70, 0.2)), linear-gradient(342deg,#ff7a38,#E0A681 10%,#530343 90%);
      background-position: 0px 0px;
      background-repeat: repeat-x;
      animation: background-change 5s infinite;
    }

    .hero {

      .contribute {
        margin: 0 auto 20px auto;
        padding: 60px 0;

        .twitter {
          animation: fadeInLeft 1500ms;
          animation-delay: 1s;
          animation-timing-function: cubic-bezier(0.1, 1, 0.6, 1);
        }

        .github {
          animation: fadeInRight 1500ms;
          animation-delay: 1s;
          animation-timing-function: cubic-bezier(0.1, 1, 0.6, 1);
        }
      }

      .information {
        font-weight: 400;
        color: #ddd;
        animation: fadeInAfter 1500ms;
        animation-timing-function: ease-in-out;
      }
    }

    h1 {
      font-weight: 500;
      font-size: 3.5em;
      margin: 0.5em 0;
    }

  }

  .container {
    margin: 0;
    padding: 0;
    width: 100%;
    border-top: 1px solid darken(#F1F3F5, 10%);
  }
}

.hero {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;

  h1, h2, h3, h5 {
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 100;
  }

  h1 {
    animation: fadeInUp 1500ms;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.2, 1);
  }

  h3 {
    animation: fadeInUp 1500ms;
    animation-delay: 300ms;
    animation-timing-function: cubic-bezier(0.1, 0.90, 0.4, 1);
  }
}

.col-center {
  float: none !important;
  margin: 0 auto;
}

.col-no-padding {
  padding: 0;
}
