.nav-tabs {
  border-bottom: 1px solid #DFDFDF;

  > li > a {
    margin: 0;
    border: 1px solid #DFDFDF;
    border-radius: 0;
    padding: 12px 19px;
    color: darken(#9E9E9E, 10%);
    transition: all 0.1s ease-in-out;

    &:hover {
      cursor: pointer;
      background: #f1f1f1;
      border: 1px solid #DFDFDF;
    }
  }

  li:nth-last-child(2) > a {
    border-right: 0;

    &:hover {
      border-right: 0;
    }
  }

  li:first-child > a {
    border-radius: 3px 0 0 0;
    border-right: 0;

    &:hover {
      border-right: 0;
    }
  }

  li:last-child > a {
    border-radius: 0 3px 0 0;
    border-right: 1px solid #DFDFDF;
  }

  li.active > a {
    border-bottom: 1px solid #d24400;

    &:hover {
      border-bottom: 1px solid #d24400;
    }

    &:focus {

    }
  }
}
