.double-tag {
  margin: 7px 0;

  > .label {
    @extend .small-type;
  }

  > span {
    text-align: left;
    padding: 4px 2px;
  }
}

.small-type {
  font-size: 13px;
  color: lighten(#858585, 10%);
  display: inline-block;
  width: 100%;
  text-align: left;
}

h3.cost {
  font-size: 1.8em;
  text-align: center;
  padding: 20px 0;
}
