$color-default: #eee;
$color-default-hover: darken($color-default, 6%);
$color-twitter: #41b7d8;
$color-twitter-hover: darken($color-twitter, 6%);
$color-facebook: #3b5997;
$color-facebook-hover: darken($color-facebook, 6%);
$color-google: #d64937;
$color-google-hover: darken($color-google, 6%);
$color-linkedin: #0073b2;
$color-linkedin-hover: darken($color-linkedin, 6%);
$color-pinterest: #cb2027;
$color-pinterest-hover: darken($color-pinterest, 6%);
$color-github: #3a3838;
$color-github-hover: darken($color-github, 6%);
$color-vk: #5e82a8;
$color-vk-hover: darken($color-vk, 6%);
$color-xing: #175e60;
$color-xing-hover: darken($color-xing, 6%);
$color-tumblr: #35465c;
$color-tumblr-hover: darken($color-tumblr, 6%);
$color-reddit: #ff5700;
$color-reddit-hover: darken($color-reddit, 6%);

.btn:focus { outline: none; }

.btn-social {
  color: #fff;
  font-weight: normal;
  transition: background ease-in-out 100ms;
  border-bottom: 2px solid #eee;

  &:hover {
    color: darken(#fff, 5%);
  }

  &:active {
    outline: none;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
  }
}


.btn-default {
  background: $color-default;
  background: linear-gradient(to bottom, $color-default 0%, $color-default-hover 100%);
  border-color: darken($color-default, 15%);

  &:hover {
    background: linear-gradient(to bottom, $color-default-hover 0%, $color-default-hover 100%);
  }

  &:active {
    background-color: darken($color-default-hover, 5%);
  }
}


/*  Twitter */
.btn-twitter {
  background: $color-twitter;
  background: linear-gradient(to bottom, $color-twitter 0%, $color-twitter-hover 100%);
  border-color: darken($color-twitter, 15%);

  &:hover {
    background: linear-gradient(to bottom, $color-twitter-hover 0%, $color-twitter-hover 100%);
  }

  &:active {
    background-color: darken($color-twitter-hover, 5%);
  }
}

/*  Facebook */
.btn-facebook {
  background: $color-facebook;
  background: linear-gradient(to bottom, $color-facebook 0%, $color-facebook-hover 100%);
  border-color: darken($color-facebook, 15%);

  &:hover {
    background: linear-gradient(to bottom, $color-facebook-hover 0%, $color-facebook-hover 100%);
  }

  &:active {
    background-color: darken($color-facebook-hover, 5%);
  }
}

// /*  Google */
.btn-google {
  background: $color-google;
  background: linear-gradient(to bottom, $color-google 0%, $color-google-hover 100%);
  border-color: darken($color-google, 15%);

  &:hover {
    background: linear-gradient(to bottom, $color-google-hover 0%, $color-google-hover 100%);
  }

  &:active {
    background-color: darken($color-google-hover, 5%);
  }
}

/*  LinkedIn */
.btn-linkedin {
  background: $color-linkedin;
  background: linear-gradient(to bottom, $color-linkedin 0%, $color-linkedin-hover 100%);
  border-color: darken($color-linkedin, 15%);

  &:hover {
    background: linear-gradient(to bottom, $color-linkedin-hover 0%, $color-linkedin-hover 100%);
  }

  &:active {
    background-color: darken($color-linkedin-hover, 5%);
  }
}


/*  Pinterest */
.btn-pinterest {
  background: $color-pinterest;
  background: linear-gradient(to bottom, $color-pinterest 0%, $color-pinterest-hover 100%);
  border-color: darken($color-pinterest, 15%);

  &:hover {
    background: linear-gradient(to bottom, $color-pinterest-hover 0%, $color-pinterest-hover 100%);
  }

  &:active {
    background-color: darken($color-pinterest-hover, 5%);
  }
}


.btn-github {
  background: $color-github;
  background: linear-gradient(to bottom, $color-github 0%, $color-github-hover 100%);
  border-color: darken($color-github, 15%);

  &:hover {
    background: linear-gradient(to bottom, $color-github-hover 0%, $color-github-hover 100%);
  }

  &:active {
    background-color: darken($color-github-hover, 5%);
  }
}


.btn-vk {
  background: $color-vk;
  background: linear-gradient(to bottom, $color-vk 0%, $color-vk-hover 100%);
  border-color: darken($color-vk, 15%);

  &:hover {
    background: linear-gradient(to bottom, $color-vk-hover 0%, $color-vk-hover 100%);
  }

  &:active {
    background-color: darken($color-vk-hover, 5%);
  }
}


.btn-xing {
  background: $color-xing;
  background: linear-gradient(to bottom, $color-xing 0%, $color-xing-hover 100%);
  border-color: darken($color-xing, 15%);

  &:hover {
    background: linear-gradient(to bottom, $color-xing-hover 0%, $color-xing-hover 100%);
  }

  &:active {
    background-color: darken($color-xing-hover, 5%);
  }
}


.btn-tumblr {
  background: $color-tumblr;
  background: linear-gradient(to bottom, $color-tumblr 0%, $color-tumblr-hover 100%);
  border-color: darken($color-tumblr, 15%);

  &:hover {
    background: linear-gradient(to bottom, $color-tumblr-hover 0%, $color-tumblr-hover 100%);
  }

  &:active {
    background-color: darken($color-tumblr-hover, 5%);
  }
}

.btn-reddit {
  background: $color-reddit;
  background: linear-gradient(to bottom, $color-reddit 0%, $color-reddit-hover 100%);
  border-color: darken($color-reddit, 15%);

  &:hover {
    background: linear-gradient(to bottom, $color-reddit-hover 0%, $color-reddit-hover 100%);
  }

  &:active {
    background-color: darken($color-reddit-hover, 5%);
  }
}
