section.register.col-md-3.col-center.col-no-padding
  header Register
  form.custom(ng-submit="register()", name="registerForm", role="form")

    label.control-label.col-sm-2.hide(for="name") Name
    input.form-control(ng-model="user.fullName", ng-model-options="{ debounce: 300, updateOn: 'blur' }", name='name', type="text" placeholder="Full name", required, autofocus="true")
    span.error(ng-show='registerForm.name.$error.required && !registerForm.name.$pristine') Please enter your full name.

    label.control-label.col-sm-2.hide(for="email") Email
    input.form-control(ng-model="user.email", ng-model-options="{ updateOn: 'blur' }", name='email', type="email" placeholder="Email", required)
    span.error(ng-show='registerForm.email.$error.email') Please enter a valid email.

    label.control-label.col-sm-2.hide(for="password") Password
    input.form-control(ng-model="user.password", ng-model-options="{ updateOn: 'blur' }", type="password", name='password', ng-minlength="6", placeholder="Password", required)
    span.error(ng-show='registerForm.password.$error.minlength') Your password must be greater than 6 characters.

    .form-bottom
      p.errorMessage(ng-bind="message")
      button.btn.btn-default.btn-full(ng-disabled="registerForm.$invalid", type="submit") Register
    .seperator
      span or
    .form-bottom
      .btn.btn-facebook.btn-full(ng-click='loginWith("facebook")') Register with facebook
      .btn.btn-twitter.btn-full(ng-click='loginWith("twitter")') Register with twitter
      .btn.btn-google.btn-full(ng-click='loginWith("google")') Register with google
