nav.navbar.navbar-default
  .clearfix
    ul.nav.navbar-nav.pull-right
      li(ng-show='isAuthenticated()')
        a(ng-click='logout()') Logout
      li(ng-hide='isAuthenticated() || isPage("login")')
        a(ui-sref='login') Login
      li(ng-hide='isAuthenticated() || isPage("register")')
        a(ui-sref='register') Register
