section.login.col-md-3.col-center.col-no-padding
  header Login
  //- h5(ng-bind="getLoginReason()")
  form.custom(ng-submit="login()", name="loginForm", role="form")

    label.control-label.col-sm-2.hide(for="email") Email
    input.form-control(ng-model="user.email", ng-model-options="{ updateOn: 'blur' }", name='email', type="email" placeholder="Email", required, autofocus="true")
    span.error(ng-show='loginForm.email.$error.email && !loginForm.email.$pristine') Please enter a valid email.

    label.control-label.col-sm-2.hide(for="password") Password
    input.form-control(ng-model="user.password", ng-model-options="{ updateOn: 'blur' }", type="password", name='password', ng-minlength="6", placeholder="Password", required)
    span.error(ng-show='loginForm.password.$error.minlength') Your password must be greater than 6 characters.

    .form-bottom
      p.errorMessage(ng-bind="message")
      button.btn.btn-default.btn-full(ng-disabled="loginForm.$invalid", type="submit") Log in
      .info.clearfix
        a(href='#').pull-right Register
        a(href='#').pull-left Rescue password
    .seperator
      span or
    .form-bottom
      .btn.btn-facebook.btn-full(ng-click='loginWith("facebook")') Login with facebook
      .btn.btn-twitter.btn-full(ng-click='loginWith("twitter")') Login with twitter
      .btn.btn-google.btn-full(ng-click='loginWith("google")') Login with google

